{% extends 'base.html' %}
{% load tailwind_filters %}
{% block content %}



<div class="max-w-lg mx-auto">
    <h1 class="text-4xl text-gray-800">Reset your password</h1>
    <form class="mt-5" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="text-white w-full bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">
            Reset password</button>
</form>
<hr>
    <div class="mt-3"><a class="hover:text-blue-600" href="{% url 'login' %}">Already have an account?</a></div>
</div>

{% endblock content %}